.container {
    padding: 5%;
}

.navbar{
    padding: 1%;
}

.cover {
    background: #bcdfbc;
    text-align: center;
    margin-right: 2.5%;
    margin-left: 2.5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    border-radius: 15px 15px 15px 15px;
    padding: 20px;
    width: 95%;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.card {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-right: 7.5%;
    margin-left: 7.5%;
}

.deliverableBtn {
    width: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin: 4vw;
    background-color: #E0607E;
    height: 15vw;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 2vw;
}

.deliverableBtn a{
    text-decoration: none;
    color: white;
}
  
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.downloadBtn {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    border-radius: 2px;
    background-color: #E0607E;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-top: 5%;
}

.downloadBtn a{
    text-decoration: none;
    color: white;
}


.downloadBtn:hover {
    background-color: #cf5571;
}

.downloadBtn:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6), inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*design the block in the welcome page*/
.crcCard {
    background: #B783B4;
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 2.5%;
    border-radius: 15px 50px;
    padding: 20px;
    width: 70%;
}

ul{
    text-after: center;
    list-style-position: inside;
}

img {
    width: 70%;
    margin: 1%;
}

.card-img-top{
    margin:0%;
}